button {
    border: none;
    padding: 5px 15px;
    background-color: white;
    color: purple;
    font-weight: bold;
    font-size: 22px;
    transition: all 0.5s ease;
    margin-top: 20px;
}

button:hover {
    color: white;
    background-color: purple;
    cursor: pointer;
}